services:
    R\U2FTwoFactorBundle\Security\TwoFactor\Provider\U2F\U2FAuthenticator:
        public: true
        arguments:
            - '@request_stack'
    R\U2FTwoFactorBundle\Security\TwoFactor\Provider\U2F\TwoFactorProvider:
        arguments:
            - '@R\U2FTwoFactorBundle\Security\TwoFactor\Provider\U2F\U2FAuthenticator'
            - '@R\U2FTwoFactorBundle\Security\TwoFactor\Provider\U2F\U2FFormRenderer'
            - '@session'
        tags:
            - { name: scheb_two_factor.provider, alias: u2f_two_factor }
    R\U2FTwoFactorBundle\Security\TwoFactor\Provider\U2F\U2FFormRenderer:
        arguments:
            - '@twig'
            - '%r_u2f_two_factor.formTemplate%'
            - '@R\U2FTwoFactorBundle\Security\TwoFactor\Provider\U2F\U2FAuthenticator'
            - '@security.token_storage'
            - '@session'
    R\U2FTwoFactorBundle\Controller\RegisterController:
        tags: ['controller.service_arguments']
        arguments:
            $u2fAuthenticator: '@R\U2FTwoFactorBundle\Security\TwoFactor\Provider\U2F\U2FAuthenticator'
            $session: '@session'
            $eventDispatcher: '@event_dispatcher'
            $registerTemplate: '%r_u2f_two_factor.registerTemplate%'
