language: php
sudo: false

cache:
  directories:
    - $HOME/.composer/cache/files

matrix:
  fast_finish: true
  include:
    - php: 7.2
    - php: 7.3
    - php: nightly
  allow_failures:
    - php: nightly

before_install:
  - composer self-update

install:
  - composer install --no-interaction --prefer-dist --ansi --no-suggest

script:
  - ./vendor/bin/phpstan analyse .
