<form method="post" action="{{ path('club_base_register_u2f') }}" id="u2fForm" data-action="reg" data-request='{{ registrationRequest|raw }}'>
    <input type="text" name="keyName" id="keyName" placeholder="Name your FIDO-Device"/>
    <input type="hidden" name="_auth_code" id="_auth_code" />
    <div id="u2fError"></div>
</form>
<script src="/bundles/ru2ftwofactor/js/u2f.js"></script>
<script src="/bundles/ru2ftwofactor/js/auth.js"></script>
